# Configuration file

~CONFIG_VERSION: 2.1.0

##########################################################################################################
# General
#--------------------------------------------------------------------------------------------------------#
# Settings of TakumiCraft.
##########################################################################################################

General {
    # If true, tips book of this mod drops when you killed takumicraft creepers. [default: false]
    B:dropTipsBook=false

    # ONLY IN SERVER, FOR TCS EVENT [default: false]
    B:ineventserver=false

    # ONLY IN SERVER, FOR TCS PvP [default: false]
    B:intcpvp=false

    # Change this to use "TakumiHardMode" when the difficulty is hard or hardcore. [default: false]
    B:isTakumiHard=false

    # Change false if the graphic of CeruleanCreeper doesn't work. [default: true]
    B:isTransparentCeruleanCreeper=true

    #  Change this if you use TP Sidebar. [default: false]
    B:isUseTP=false

    # If true, only placer and opped player can destroy Takumi Cannon. [default: true]
    B:ownerLockTakumiBlock=true

    # config.takumicraft.oltc.desc [default: false]
    B:ownerLockTakumiCannon=false

    # Change false if you don't want to use season texture. [default: true]
    B:useNewYearTexture=true

    # Change this if you'd like to change sync range of TakumiBook. [range: 0 ~ 2147483647, default: 16]
    I:useTakumiBookSync=16

    ##########################################################################################################
    # Spawn
    #--------------------------------------------------------------------------------------------------------#
    # Settings for cinfigure spawns
    ##########################################################################################################

    Spawn {
        # Change this if TakumiAnimals spawn too much. [range: 1 ~ 50, default: 10]
        I:spawnWeightAnimal=5
    }

}


